.login__content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 3rem;
  padding: 2rem;
  i {
    font-size: 1.1rem;
  }
  h2 {
    margin-top: 1.245rem;
    margin-bottom: 1.245rem;
    font-weight: bold;
  }
  form {
    .input__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      text-align: left;
      label {
        font-weight: bold;
      }
      input {
        font-size: 1.2rem;
        padding: 0.3125rem;
      }
    }
    .input__remember {
      display: flex;
      label {
        margin-left: 0.25rem;
      }
    }
    .login__button {
      background-color: #00bc77;
      border-color: #00bc77;
      border: none;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      padding: 0.5rem;
      width: 100%;
      text-decoration: underline;
    }
  }
}
