.header {
  color: #fff;
  h2 {
    font-size: 2rem;
    margin-top: 1.34rem;
    margin-bottom: 1.34rem;
    font-weight: bold;
  }
  .edit__button {
    background-color: #00bc77;
    border-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
}
